{% extends 'base.html' %}
{% block head %} 
<title>Task Manager</title>
{% endblock %}

{% block body %} 
<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if tasks|length < 1%}
    <h4 style="text-align: center">The list is empty. You have not created any tasks.</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Due</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    {% if task.due_date %}
                        {{ task.due_date.strftime ("%Y-%m-%d %H:%M")}}
                    {% else %}
                        No due date
                    {% endif %}
                </td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="date" name="due_date">
        <input type="time" name="due_time">
        <input type="submit" value="Add Task"> 
    </form>
</div>
{% endblock %}